<div class="pokemon-atual" *ngIf="isLoading">
  <div class="cartoes-pokemon" >
    <div class="cartao-pokemon" [class]="'pokemon__tipo--'+ pokemon.types[0].type.name">
      <div class="cartao-topo">
        <div class="detalhes">
          <h2 class="nome"> {{pokemon.name}} </h2>
          <div class="pokemon-form" *ngIf="pokemonSpecies.varieties.length > 1">
            <select class="pokemon-form__select">
              <option value="value.pokemon.url" *ngFor="let value of pokemonSpecies.varieties"> {{ value.pokemon.name }}</option>
            </select>
          </div>
          <span> #{{leadingZeros(pokemon.id)}} </span>
      </div>
      <div class="tipo">
        <span *ngFor="let value of pokemon.types" class="cartao__tipo"> <img [src]="'https://raw.githubusercontent.com/IgormBonfim/media/master/Angular-Pokedex/assets/types/' + value.type.name + '.png'" [alt]="'Imagem do tipo ' + value.type.name"> {{value.type.name}} </span>
      </div>
        <div class="cartao-imagem">
          <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' + pokemon.id + '.png'" alt="Imagem do Pokemon" />
        </div>
      </div>
      <div class="cartao-informacoes">
        <div class="status">
          <h3>Status</h3>
          <ul>
            <li class="cartao__status" *ngFor="let value of pokemon.stats">
              {{ value.stat.name }} : {{ value.base_stat }}
            </li>
          </ul>
        </div>
        <div class="habilidades">
          <h3>Abilities</h3>
          <ul>
            <li class="cartao__status" *ngFor="let value of pokemon.abilities">
              {{ value.ability.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <app-pokemon-types [types]="types"></app-pokemon-types>
</div>
