<div class="cartoes-pokemon">
  <div class="cartao-pokemon aberto tipo-eletrico" id="cartao-pikachu">
    <div class="cartao-topo">
      <div class="detalhes">
        <h2 class="nome">Pikachu</h2>

        <span>#001</span>
      </div>
      <div class="tipo">
        <span class="tipo1"><img src="src/imagens/pokemon.png" alt="pokemon" />Elétrico</span
        >
      </div>

      <div class="cartao-imagem">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png" alt="Imagem do Pokemon" />
      </div>
    </div>
    <div class="cartao-informacoes">
      <div class="status">
        <h3>Status</h3>
        <ul>
          <li>HP: 35</li>
          <li>Ataque: 55</li>
          <li>Defesa: 40</li>
          <li>Velocidade: 90</li>
          <li>Total: 220</li>
        </ul>
      </div>
      <div class="habilidades">
        <h3>Habilidades</h3>
        <ul>
          <li>Choque do trovão</li>
          <li>Ataque rápido</li>
          <li>Calda de ferro</li>
        </ul>
      </div>
    </div>
  </div>
</div>
