<div class="pokemon__types">
  <h2 class="pokemon__types__title">Weakness</h2>
  <div class="pokemon__types__relative">
    <span class="type pokemon__tipo--grass"> <img src="../../../assets/types/grass.png" alt=""> Grass</span>
    <span class="type pokemon__tipo--grass"> <img src="../../../assets/types/grass.png" alt=""> Grass</span>
    <span class="type pokemon__tipo--grass"> <img src="../../../assets/types/grass.png" alt=""> Grass</span>
    <span class="type pokemon__tipo--grass"> <img src="../../../assets/types/grass.png" alt=""> Grass</span>
    <span class="type pokemon__tipo--grass"> <img src="../../../assets/types/grass.png" alt=""> Grass</span>
    <span class="type pokemon__tipo--grass"> <img src="../../../assets/types/grass.png" alt=""> Grass</span>
  </div>
  <h2 class="pokemon__types__title" >Strong</h2>
  <div class="pokemon__types__relative">
    <span class="type pokemon__tipo--grass"> <img src="../../../assets/types/grass.png" alt=""> Grass</span>
    <span class="type pokemon__tipo--grass"> <img src="../../../assets/types/grass.png" alt=""> Grass</span>
    <span class="type pokemon__tipo--grass"> <img src="../../../assets/types/grass.png" alt=""> Grass</span>
    <span class="type pokemon__tipo--grass"> <img src="../../../assets/types/grass.png" alt=""> Grass</span>
    <span class="type pokemon__tipo--grass"> <img src="../../../assets/types/grass.png" alt=""> Grass</span>
    <span class="type pokemon__tipo--grass"> <img src="../../../assets/types/grass.png" alt=""> Grass</span>
  </div>
</div>
